<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <!-- boostrap cdn added below-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/home-page.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- added in boostrap js below-->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>

</head>

<body>
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h5 class="text-white h4">Please Login First</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
  <main class="row">
    <section class="col-xs-6" id="welcome_scr">
      <h1> WELCOME TO GAMEBOARD</h1>
      <h2> Time to Play</h2>
      <img id="playing_cards"
        src="https://static.vecteezy.com/system/resources/previews/000/114/343/large_2x/free-vector-casino-royale-background.jpg" />
    </section>
    <section id="border">

    </section>
    <section class="col-xs" id="login">
      <h2> Login</h2>
      <form id="login-form" action="/main" method="POST">
        <p>Username</p>
        <input class="form-control" size='40' name='username' type="text" />
        <p>Password</p>
        <input size='40' class='form-control' name='password' type="password" />
        <br>
        <input type="submit" class="btn btn-primary" value="Login" />
      </form>
      <a href='#' id="register"> Not registered yet? Click here</a>
      <p id="error"></p>
    </section>
  </main>
</body>

</html>
