body {
  nav {
    width: 100vw;
  }
  main {
    display: flex;
    flex-direction: row;
    section input{
      margin-bottom: 0.5em;
    }

    //welcome message on homepage
    #welcome_scr {
      width: 50%;
      max-height: 100%;
      padding: 6rem 4rem 4rem 5rem;
      text-align: center;
      font-family: cursive;
    }

    //contains login section on homepage
    #login {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      width: 40vw;
      max-height: 100%;
      padding: 7%;
      padding-bottom: 50vh;
      padding-top: 20vh;
      color: white;
    }

    #border {
      padding-top: 50%;
      border-style: inset;
    }

    //css for image of playing cards on first page
    #playing_cards {
      height: 20em;
      width: 20em;
    }

    #register{
      color: yellow;
    }
  }
}
