body #not_header {
  display: grid;
  grid-template-columns: 30% 10% 60%;
  padding-top: 16px;
  text-align: center;

  #leftSide {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    margin: 5px;
    width: auto;
  }

  #middle {
    border-style: inset;
    background-color: black;
    max-width: 2vw;
    padding-top: 10vh;
    height: 100%;
  }

  .dropdown {
    padding: 5vh 0;
    max-width: 60%;
  }

  //css forfeit button container
  #middleLeft {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  //css for ready button container
  #middleRight {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #rightSide {
    padding: 1em;
    background-color: inherit;
  }

  //css for 'P1 Played Cards' section of main page
  #p1Right {
    display: grid;
    grid-template-columns: repeat(7, 10%);
  }

  //css for images in 'P1 Played Cards' section of main page
  #p1Right img {
    display: unset;
    max-height: 90px;
    width: auto;
    flex-wrap: inherit;
  }

  //css for 'P2 Played Cards' section of main page
  #p2Right {
    display: grid;
    grid-template-columns: repeat(7, 10%);
  }

  //css for images in 'P2 Played Cards' section of main page
  #p2Right img {
    display: unset;
    max-height: 90px;
    width: auto;
    flex-wrap: inherit;
  }

  #p1Left .points {
    color: yellow;
    font-size: 30px;
    height: 100%;
    padding-top: 4rem;
    padding-bottom: 5rem;
  }

  #p2Left .points {
    color: yellow;
    font-size: 30px;
    height: 100%;
    padding-top: 4rem;
    padding-bottom: 5rem;
  }

  #rightSide #display {
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    display: grid;
    grid-template-rows: 40% 20% 40%;
    grid-template-columns: 25% 50% 25%;
    margin: inherit;
    height: 80vh;
    border-style: inset;
  }

  #rightSide #display .gamespace {
    border-style: outset;
    border-color: darkslategrey;
  }

  #rightSide #display #p1Hand {
    display: grid;
    grid-template-columns: repeat(7, 13%);
  }

  #rightSide #display #p1Hand img {
    display: unset;
    max-height: 100px;
    width: auto;
  }

  #rightSide #display #p2Hand {
    display: grid;
    grid-template-columns: repeat(7, 13%);
  }

  #rightSide #display #p2Hand img {
    display: unset;
    max-height: 100px;
    width: auto;
    flex-wrap: inherit;
  }

  #rightSide #display #p2Hand img:hover {
    border-style: solid;
    border-color: yellow;
  }

  #rightSide #display #middleHand {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
    align-items: center;
  }

  #rightSide #display #middleHand img {
    max-height: 100px;
    max-width: auto;
  }
}

body {
  //css for username of logged in user in nav bar
  #user-name {
    font-size: 16px;
    color: white;
    margin-bottom: 0;
  }
}
